" Load local .vimrc
source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Don't use Ex mode, use Q for formatting.
map Q gq

" Actions
command Run :action Run
map <leader>fl <Action>(Find)
map <leader>ff <Action>(GotoFile)
map <leader>fs <Action>(GotoSymbol)
map <leader>fc <Action>(GotoClass)
map <leader>fg <Action>(FindInPath)
map <leader>tw <Action>(CloseContent)
map <leader>tm <Action>(MaximizeEditorInSplit)
map <leader>gs <Action>(ChangeSignature)
map <leader>gr <Action>(RenameElement)

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary

